alembic
Babel
bcrypt
Click
cryptography
Flask-BabelEx
Flask-Compress
Flask-Cors
Flask-Gravatar
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-Paranoid
Flask-Principal
Flask-Security-Too
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
Flask-Script
gunicorn
heroku
Jinja2
jose
Mako
MarkupSafe
packaging
psycopg2
psycopg2-binary
py
PyJWT
python-dateutil
python-debian
python-editor
python-jose
requests
six
SQLAlchemy
ufw
Werkzeug
