{% extends 'layouts/main.html' %} {% block title %}Actors Page{% endblock %} {% block content %}
<div class="container">
    <h2 class="text-center my-4">Welcome to <strong class="text-danger">Actors</strong> Page</h2>
    <a id="createActorButton" class="btn btn-success font-weight-bold d-block ml-auto mr-auto my-4 w-25">Add New Actor</a>
    <div class="row">
        {% for actor in data %}
        <div class="col-4 mb-3">
            <div class="card text-center">
                <div class="card-header">
                    <h5 class="m-auto">{{actor.name}}</h5>
                </div>
                <div class="card-body p-2">
                    <img class="card-img-top rounded" src="{{actor.image_link}}" alt="Card image cap">
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong> Age:</strong> {{actor.age}} years old</li>
                    <li class="list-group-item"><strong> Gender:</strong> {% if actor.gender == 1%} Male {% else %} Female {% endif %}</li>
                    <li class="list-group-item"><strong> Phone:</strong> {{actor.phone}}</li>
                    <li class="list-group-item"><strong> Genre:</strong> {{actor.genre}}</li>
                    <li class="list-group-item"><strong> City:</strong> {{actor.city}}</li>
                </ul>
                <div class="card-footer">
                    <form action="/actors/edit/{{actor.id}}" method="POST" class="d-inline-block mr-4" class="gotoEditActor">
                        <input type="submit" class="editActorButton btn btn-warning actor-edit" value="Edit">
                    </form>
                    <button type="button" class="deleteActorButton btn btn-danger actor-delete" data-id="{{actor.id}}">Delete</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}