<!doctype html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- /meta -->

    <!-- styles -->
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/chosen.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <!-- /styles -->

    <!-- favicons -->
    <link rel="shortcut icon" href="/static/ico/favicon.png">
    <!-- /favicons -->

    <!-- scripts -->
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/jwt-decode.js"></script>
    <script src="/static/js/auth.js"></script>
    <!-- /scripts -->
</head>

<body>

    <!-- Wrap all page content here -->
    <div id="wrap">
        <!-- Fixed navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img src="/static/img/logo.png" width="50" height="50" alt=""> Casting Team
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if request.endpoint == 'show_movies' or request.endpoint == 'create_movie' %} active {% endif %}">
                        <a class="nav-link text-center" href="/movies" id="getMovieButton">Movies</a>
                    </li>
                    <li class="nav-item {% if request.endpoint=='show_actors' or request.endpoint == 'create_actor' %} active {% endif %}">
                        <a class="nav-link text-center" href="/actors" id="getActorButton">Actors</a>
                    </li>
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-center" id="logInButton" href="https://dev-7go1be7i.us.auth0.com/authorize?audience=casting&scope=SCOPE&response_type=token&client_id=k6nd4UUtj9zjhZlX2yWZi7HnCqec6eu6&redirect_uri=http://localhost:5000/">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" id="signUpButton" href="https://dev-7go1be7i.us.auth0.com/authorize?audience=casting&scope=SCOPE&response_type=token&client_id=k6nd4UUtj9zjhZlX2yWZi7HnCqec6eu6&redirect_uri=http://localhost:5000/">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center d-none" style="cursor: pointer;" id="logOutButton">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Begin page content -->
        <main id="content" role="main" class="container">

            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div class="alert alert-block alert-info fade in">
                <a class="close" data-dismiss="alert">&times;</a> {{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}

        </main>

    </div>

    <div id="footer" style="position: sticky;bottom: 0;">
        <div class="footer-content bg-dark mb-0 mt-3 py-1">
            <div class="container text-white text-center">
                <p class=" my-auto">Casting Team &copy; All Rights Reserved.</p>
            </div>
        </div>
    </div>

    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/chosen.jquery.min.js"></script>
    <script src="/static/js/script.js"></script>

</body>

</html>